---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Nuestra Misión:</span
    > Predicar el evangelio de Cristo a toda criatura, llevando su mensaje de salvación, amor y esperanza a cada rincón del
    mundo.
    <br />
    <span class="italic text-blue-600">"Id y predicad el evangelio a toda criatura." - Marcos 16:15</span>
  </div>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:target" class="w-5 h-5 inline-block align-text-bottom" /> Nuestra Visión:</span
    > Ser una iglesia dedicada completamente a la obra de Dios, llevando el mensaje de Cristo no solo a nuestras comunidades,
    sino a todas las naciones. Unidos en Cristo, buscamos cumplir el mandato divino de llevar su palabra a todos.
    <br />
    <span class="italic text-blue-600"
      >"Pero recibiréis poder cuando haya venido sobre vosotros el Espíritu Santo; y me seréis testigos..." - Hechos 1:8</span
    >
  </div>
</section>
